html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#left-box {
	float: left;
	width: 160px;
}

#right-box {
	float: right;
	width: 800px;
}

#game-canvas-wrapper {
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
	
    width: 960px;
    height: 700px;
	border: 1px solid grey;
}

#chat-wrapper {
	height: 50px;
	text-align: center;
}

#chat-box {
	width: 99%;
}